#hole{
    background-color: cadetblue;
display: flex;
/* width: ; */
font-size: 25px;
height: 900px;
}
#letter{
    margin: auto;

}

#video>img{
    border: 1px solid yellow;
    /* height: 80%; */
    /* width: 50%; */
    margin:50px;
}
