

#NAV{
    display: flex;


#NAV{
    display: flex;

    /* grid-template-columns: repeat(11,1fr); */
    grid-template-rows: repeat(1,11fr);
    /* gap: 15px; */

    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;

    position: sticky;
top: 0PX;
    border-bottom: 1PX solid black;
}
#NAV ul{
    display: inline-flex;
    list-style: none;
}
#NAV ul li{
    margin: 5px;
}
#NAV ul li a{
    text-decoration: none;
    color:black;
    /* margin: 5px; */
}
#NAV ul li:hover .news{
display: block;
position: absolute;

background-color: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#NAV ul li:hover .news ul{
  
    display: block;
    /* background-color: rebeccapurple; */
    margin: 10PX;
    /* text-align: center; */
}
a{
    text-decoration: none;
}
#NAV ul li:hover .news ul li {
    margin: 15PX;
  
    margin-left: -25px;
 
    justify-content: left;
   text-align: left;
}
.news{
    display: none;
  
}
#trial{
    background-color:blue;

    position: sticky;
    /* font-size: 0PX; */
    /* text-decoration: ; */
top: 0PX;
    /* text-decoration: underline; */
    
}

#NAV>p{
    /* margin-right: 60px; */
  margin: 2PX;
}
#trial{
    background-color:blue;
    /* color: white; */

    padding: 10px 40px;
    border-radius: 10px;
    border: 0px;
    margin: 2PX;

}
#trial>a{
    color:white;  

    /* margin-left: 45px; */
    /* font-size: 20px; */
}
#trial>a{
    color:white;

}
#sub{font-size: 20px;
    background-color:yellow;
    color:black;

    border-radius: 10px;
    border: 0px;
    margin: 10PX;
}
#sub>a{
    text-decoration: none;

    /* padding: 10px 20px; */
    border-radius: 10px;
    border: 0px;
    margin: 10PX;
    /* margin-left: 5px; */

}
#log{
    padding: 10px 40px;
    border-radius: 10px;
    margin: 10PX;

}
#log>a{
    text-decoration: none;

  
    /* margin-left: 25px; */

}
#HEAD{display: grid;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
}
#HEAD>div+div{


    /* background-color: rebeccapurple; */

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
}
#homepagetop{
display: flex;

margin: auto;
width: 70%;
gap: 50px;
}
#homepagetop>p:nth-child(1){
    color: red;
}


margin: auto;
/* padding-left: 300px; */
/* justify-content: center; */
/* align-items: center; */
/* text-align: left; */
width: 70%;
gap: 50px;
}


#home{
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    /* height: 500px; */
    display: flex;
}
#home1{
/* border: 1px solid green; */
width: 34%;
/* margin: 10px; */
}

#home2{
    /* border: 1px solid blue; */
    width: 33%;
    margin: 10px;
   
}
#home3{ 
    /* border: 1px solid royalblue; */
    width: 33%;
    margin: 10px ;

}
#home1>div{
    /* border: 1px solid blue; */
/* height: 50%; */
/* display: flex; */


box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#home1>div:nth-child(1){margin: 10px;height: 70%;background-color: aqua;}
#home1>div:nth-child(2){display: flex; margin: 10px;;}
#home2>div{ 
/* border: 3px solid darkviolet; */
margin-bottom: 45px;
display: flex;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#home1>div:nth-child(1)>img{
    width: 100%;
}
#home3>div{ 
    display: flex;
    /* border: 2px solid saddlebrown; */
    margin: 10px;
    /* width: 100%; */
    /* background-color: rebeccapurple; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
#home3>div:nth-child(1)>img,#home3>div:nth-child(3)>img{
    width: 100%;
}
#home11{
    width: 70%;
    margin: auto;
    display: flex;
}
#home111{
    display: grid;
    /* border: 1px solid rebeccapurple; */
    /* height: 200px; */
    width: 66%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    grid-template-columns: repeat(3,1fr); 
}
#home111>div{
  margin: 10px;
    /* border: 1px solid green; */
margin: 13px;
}
#home111+div{
    /* border: 1px solid blue; */
    width: 30%;
    /* background-color: gold; */
    margin:0px 0px 10px 30px;
}
#home111+div>img{
    width: 100%;
}
#bottom{
    /* border: 1px solid green; */
    bottom: 0px;
    width: 70%;
    margin:auto;
 
    /* height: 20px; */
    /* display: flex; */
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-rows: repeat(1,1fr);
}
#bottom0{
    
   display: flex;
   /* justify-content: center; */
   /* align-items: center; */
     /* height: 50px; */
}
#bottom0>div{
    width:33%;
    margin: 20px;
}
#bottom0>div:nth-child(3)>h2+h2{
    color: aqua;
}
#bottom0>div:nth-child(1)>p{
    font-size: 15px;
}
#bottom1{
    background-color: rgb(196, 191, 202);
}
#bottom1>div:nth-child(1){
    display: flex;

    font-size: 20px;
}
#bottom1>div:nth-child(1)>p{
margin:9px;
}#bottom1>div:nth-child(2){

    gap: 30px;
    
    font-size: 20px;
}
#bottom1>div:nth-child(2){

    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 12px; */
    font-size: 20px;
}
#bottom1>div:nth-child(3){
    display: flex;


    justify-content: center;
    align-items: center;
    /* gap: 12px; */

    font-size: 20px;
}
#bottom1>div:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 12px; */
    font-size: 20px;
}
#bottomhead{
    /* background-color: antiquewhite; */
  /* border: 1px solid green; */
  height: 35px;  
display: flex;
}
#bottomhead>div{
    /* background-color:black; */
    /* border: 1PX solid red; */
    width: 33%;
/* justify-content: center;
align-items: center; */
}
#bottomhead>div:nth-child(3)>img{height: 100%;
}
#bottomhead>div:nth-child(3)>input{padding-top: 10px;
}
#bottomhead>div:nth-child(3){margin-left: 220px;
}
#bottomhead>div:nth-child(1){
display: flex;

/* width: 225%; */
/* border: 1px solid blue; */

}#bottomhead>div:nth-child(1) img{
    /* display: flex; */
    height: 100%;
    margin: 10px;
    /* width: 225%; */
    /* border: 1px solid blue; */
    
    }