form{
    width: 20%;
    margin: auto;
    display: grid;
    gap: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
form>input{
    padding: 5px;
}
#login{
    background: transparent;
    border: 0ch;
}
#signup{background-color: blue;
    padding: 10px;
    border-radius: 10px;
color: white;}
h1{
    border-bottom: 2px solid gainsboro;
 border-top: 2px solid gainsboro;;
}
